@tailwind base;
@tailwind components;
@tailwind utilities;

#mobile_menu {
  transition: 1.8s ease-out;
}
#home {
  background-image: linear-gradient(to right, #00112b, #1a226a);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(30px);
  transition: 1s ease;
}
